alembic==1.5.7
bleach==6.2.0
blinker==1.9.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==7.1.2
Flask==1.1.2
Flask-CKEditor==1.0.0
Flask-Cors==3.0.10
Flask-Login==0.6.3
Flask-Migrate==2.7.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.2.2
greenlet==3.1.1
gunicorn==23.0.0
idna==3.6
itsdangerous==1.1.0
Jinja2==2.11.3
Mako==1.1.4
MarkupSafe==1.1.1
mysql-connector-python==9.1.0
packaging==24.2
psycopg2==2.8.6
psycopg2-binary==2.9.10
python-dateutil==2.8.1
python-dotenv==0.15.0
python-editor==1.0.4
PyYAML==6.0.2
requests==2.31.0
six==1.15.0
SQLAlchemy==1.4.1
typing_extensions==4.12.2
urllib3==2.2.1
webencodings==0.5.1
Werkzeug==1.0.1
WTForms==3.2.1
